ml-collections>=0.1.0
tensorflow-gan>=2.0.0
tensorflow_io
tensorflow_datasets>=3.1.0
tensorflow>=2.9.0
tensorflow-addons>=0.1.0
tensorboard>=2.4.0
absl-py>=0.10.0
torch>=1.7.0
torchvision
ninja
matplotlib>=3.7.1
pandas
seaborn
gdown==3.6.0
